@page
@model fiap.testedotnet.ui.Pages.Aluno.DetalhesModel
@{
    <h4> Detalhes do Aluno</h4>
    <hr />

    <div>
        <p><strong>Nome:</strong> @Model.Aluno.Nome</p>
        <p><strong>Usuário:</strong> @Model.Aluno.Usuario</p>
    </div>

    <hr />
    <a asp-page="./Index" class="btn btn-primary">Voltar a listagem</a>
}
