@page
@model fiap.testedotnet.ui.Pages.Turma.DetalhesModel
@{
    <h4> Detalhes da Turma</h4>
    <hr />

    <div>
        <p><strong>Curso ID:</strong> @Model.TurmaViewModel.CursoId</p>
        <p><strong>Descrição:</strong> @Model.TurmaViewModel.Descricao</p>
        <p><strong>Ano:</strong> @Model.TurmaViewModel.Ano</p>
    </div>

    <hr />
    <a asp-page="./Index" class="btn btn-primary">Voltar a listagem</a>
}
